---

apt_cache_valid_time: 3600

git_user_name: "jeffwecan"
git_user_email: "jeff.hogan1@gmail.com"

extra_gnu_linux_packages:
  - man
  - python-pip
  - wget
  - xclip

install_powerline_shell: True
powerline_shell_config:
  segments:
    - virtual_env
    - username
    - hostname
    - ssh
    - cwd
    - git
    - newline
    - root
  mode: compatible
  cwd:
    mode: plain
  vcs:
    show_symbol: false
  theme: basic

gitignore_global_entries:
  - ".idea"
  - "*.retry"
  - "*.pyc"
  - "__pycache__"

install_rclone: False

install_atom: True
install_zeal: True
