### ALIASES ###
alias ll='ls -la'

{% if install_powerline_shell %}
### Custom PS1 Prompt (powerline-shell) ###
function _update_ps1() {
    PS1=$(powerline-shell $?)
}

if [[ $TERM != linux && ! $PROMPT_COMMAND =~ _update_ps1 ]]; then
    PROMPT_COMMAND="_update_ps1; $PROMPT_COMMAND"
fi
{% endif %}
