[Desktop Entry]
Version={{ version }}
Type=Application
Terminal=false
Icon[en_US]={{ app_directory }}/bin/{{ app_name|lower }}.png
Name[en_US]={{ app_name }}
Exec={{ app_directory }}/bin/{{ app_name|lower }}.sh
Name=PyCharm
Icon={{ app_directory }}/bin/{{ app_name|lower }}.png

[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Professional Edition
Icon=/opt/pycharm/bin/pycharm.png
Exec="/opt/pycharm/bin/pycharm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm